<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer" style="height: 15px;"></div>
  <div class="main-container" >
    <div class="spacer" style="height: 10px;"></div>
    <div class="profile-image" (click)="editimage()">
      <img src="{{avatar}}">
    </div>
    <div class="center-content">
      <h2 (click)="editname()">{{displayName}}</h2>
    </div>
    <div class="center-content">
      Tap on your picture or name to edit.
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="center-content">
      <ion-button shape="round" color="danger" (click)="logout()">Sign Out</ion-button>
    </div>
  </div>
</ion-content>